vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-TI95CFE\\User
vti_modifiedby:SR|DESKTOP-TI95CFE\\User
vti_timelastmodified:TR|06 Nov 2022 03:53:11 -0000
vti_timecreated:TR|06 Nov 2022 03:51:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|html/Assignment3.html
vti_nexttolasttimemodified:TW|06 Nov 2022 03:51:51 -0000
vti_cacheddtm:TX|06 Nov 2022 03:53:11 -0000
vti_filesize:IR|1769
